bin/
.settings/
.classpath.*
.project.*
Q1-OTPT/
Q2_OTPT/
Q2_OTPT_old/
Q3_OTPT/
Q4_OTPT/
Q4x_OTPT/
Q4xx_OTPT/
Q5_HOT_OTPT/
Q5_HOT_OTPT_1/
Q5_HOT_OTPT11/
Q5_OLD_OTPT/
Q5_OTPT/
Q5_OTPTX/
Q5NEW_OTPT/
Q6_OTPT/
Q7_OTPT/
Q7_OTPTx/
Q8_OTPT/
Q8_OTPT12/
Q8_OTPT123/
Q8_OTPT2/
Q8_OTPTx/